CONFLUENCE_BASE_URL=https://seu-site.atlassian.net/wiki
CONFLUENCE_EMAIL=seu-email@exemplo.com
CONFLUENCE_API_TOKEN=seu-token-aqui
CONFLUENCE_SPACE_KEY=PROJECT-KB
EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
CHROMA_DB_PATH=./chroma_db
CHROMA_COLLECTION_NAME=memora_projects
